@font-face {
  font-family: "rickmorty";
  src: url('../public/font/get_schwifty.ttf');
}

*{
  font-family: 'Inter', sans-serif;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #100720;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
