/* main container */
.homeContainer {
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 550px;
}

/* fav and close btn within the image */
.imgFavContainer {
    position: relative;
    /* width: 90%; */
    margin: 0 auto;
    max-width: 900px;
}

.favBtn {
    position: absolute;
    right: 1%;
    bottom: 3%;
    border-radius: 5px;
    border: none;
    padding: .4em;
    transition: .1s ease-out;
}

.favBtn:hover {
    background: red;
    padding: .6em;
}


.closeBtn {
    position: absolute;
    z-index: 1;
    right: 3%;
    top: 2%;
    background: #fff;
    border: none;
    border-radius: 5px;
    filter: brightness(1);
    width: 2em;
    height: 2em;
    transition: .1s ease-in-out;
}

.closeBtn:hover {
    background-color: #31087B;
    color: #fff;
    width: 2.5em;
    height: 2.5em;
}

/* giving style to the image */
.homeImgContainer {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgb(139, 223, 13);
}

.homeImg{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

/* styiling and centering image text */
.textContainer {
    position: absolute;
    z-index: 1;
    max-width: 257px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.nameCardContainer {
    background-color: #100720;
    background: #31087B;
    width: min-content;
    border-radius: 5px;
    margin: .5em;
    width: max-content;
    max-width: 200px;
 
}


.h2CardName {
    display: block;
    font-size: .8em;
    color: #fff;
    width: 100%;
    /* font-family: 'rickmorty'; */
}


.restCardTextContainer {
    margin: .5em;
    /* white-space: nowrap; */
    width: 200px;
}


.h2Card{
    width: 100%;
    font-size: .9em;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #000;
}

.idTextContainer {
    background: #071952;
    width: min-content;
    border-radius: 5px;

}

@media screen and (min-width: 800px){
    .homeContainer {
        max-width: 400px;
    }
}





