
.searchBarContainer {
    display: flex;
    width: 100%;
}

.searchbar{
    padding: 1em;
    border: 1px solid rgb(139, 223, 13);
    width: 100%;
    max-width: 800px;
}

.buttonsInputContainer{
    display: flex;
    margin-right: .7em;
}

.inputBtns {
    background-color: #31087B;
    border: none;
    border: 1px solid rgb(139, 223, 13);
    color: #fff;
    text-align: center;
    /* width: 100%; */
}