
.navContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 400px;
}

@media screen and (min-width: 800px) {
    .navContainer {
        max-width: none;
        margin: 0;
        margin-left: 1.5em;
    }
}